.DS_Store
.idea/
.vscode/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/*.iml
node_modules/

# Secrets
.env
google-services.json
GoogleService-Info.plist
